@model IEnumerable<AJDENTITY.Models.Announcement>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>WIRTUALNY DZIENNIK SZKOLNY</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
            </div>
        
        }
</div>